@model IEnumerable<LeaveSummaryModel>

@{
    ViewData["Title"] = "Leave Summary";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="card">
    <h5 class="card-header">Leave Summary</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Leave Type</th>
                    <th>Total Allocated</th>
                    <th>Used</th>
                    <th>Remaining</th>
                @*     <th>Actions</th> *@
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <i class="bx bx-calendar bx-md text-info me-4"></i>
                            <span>@item.LeaveTypeName</span>
                        </td>
                        <td>@item.TotalAllocated</td>
                        <td>@item.Used</td>
                        <td>
                            <span class="badge @(item.Remaining > 0 ? "bg-label-success" : "bg-label-danger") me-1">
                                @item.Remaining
                            </span>
                        </td>
                       @*  <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="bx bx-history me-1"></i> Leave History
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="bx bx-info-circle me-1"></i> Details
                                    </a>
                                </div>
                            </div>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
