@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
    <h5 class="card-header">Employee List</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joining Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>
                            <i class="bx bxs-user bx-md text-primary me-4"></i>
                            <span>@employee.FullName</span>
                        </td>
                        <td>@employee.Email</td>
                        <td>@employee.JoiningDate.ToShortDateString()</td>
                        <td>
                            <span class="badge bg-label-@(employee.IsActive ? "success" : "danger") me-1">
                                @(employee.IsActive ? "Active" : "Disabled")
                            </span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@Url.Action("Edit", new { id = employee.Id })">
                                        <i class="bx bx-edit-alt me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("Delete", new { id = employee.Id })" onclick="return confirm('Are you sure to delete this user?')">
                                        <i class="bx bx-trash me-1"></i> Delete
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("LeaveByUser", new { id = employee.Id })">
                                        <i class="bx bx-trash me-1"></i> Leave Detail
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>