@model IEnumerable<LeaveManagement.VM.MonthlySalaryReportVM>
@{
    ViewData["Title"] = "MonthlySalaryReport";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    decimal totalFinalSalary = Model?.Sum(x => x.FinalSalary) ?? 0;
    decimal totalPaidSalary = Model?.Where(x => x.IsPaid).Sum(x => x.FinalSalary) ?? 0;

}
<div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Employee List : @ViewBag.Month</h5>
        <div class="text-end">
            <div class="text-success fw-bold">
                Total Salary: ₹ @totalFinalSalary.ToString("#,##,##0", new System.Globalization.CultureInfo("en-IN"))
            </div>

            <div class="text-primary fw-bold">
              Total  Paid Salary: ₹ @totalPaidSalary.ToString("#,##,##0", new System.Globalization.CultureInfo("en-IN"))
            </div>
        </div>
    </div>
  
    <div class="table-responsive text-nowrap">
        <table id="employeeTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joining Date</th>
                    <th>Status</th>   
                    <th>Final Salary</th>
                    <th>Actions</th>
                    <td>IsPaid</td>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>
                            <i class="bx bxs-user bx-md text-primary me-4"></i>
                            <span>@employee.Employee.FullName</span>
                        </td>
                        <td>@employee.Employee.Email</td>
                        <td>@employee.Employee.JoiningDate.ToShortDateString()</td>
                        <td>
                            <span class="badge bg-label-@(employee.Employee.IsActive ? "success" : "danger") me-1">
                                @(employee.Employee.IsActive ? "Active" : "Disabled")
                            </span>
                        </td>                      
                        <td>@employee.FinalSalary</td>
                        <td>
                            <a asp-action="SalaryAdjustment"
                               asp-route-empId="@employee.Employee.Id"
                               class="btn btn-sm btn-primary">
                                Adjust Salary
                            </a>

                        </td>
                        <td>
                             @if (employee.IsPaid)
                                {
                                    <button class="btn btn-sm btn-secondary" disabled>
                                        Paid
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-success markPaidBtn"
                                            data-empid="@employee.Employee.Id">
                                        Mark Paid
                                    </button>
                                }
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable({
            "pageLength": 10,
            "lengthChange": true,
            "ordering": true,
            "info": true
        });


         $(document).on('click', '.markPaidBtn', function () {

            var button = $(this);
            var empId = button.data('empid');

            if (!confirm("Are you sure salary is paid?")) return;

            $.ajax({
                url: '/Admin/MarkSalaryPaid', // controller action
                type: 'POST',
                data: { empId: empId },
                success: function (res) {
                    if (res.success) {
                        alert("Salary marked as paid!");

                        button.removeClass('btn-success')
                              .addClass('btn-secondary')
                              .text('Paid')
                              .prop('disabled', true);
                                location.reload();
                    } else {
                        alert("Error: " + res.message);
                    }
                },
                error: function () {
                    alert("Something went wrong!");
                }
            });

        });
    });
</script>

