@model IEnumerable<UserLeaveSummaryViewModel>

@{
    ViewData["Title"] = "All Users Leave Summary";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="card shadow-sm">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        <span>All Employees Leave Summary</span>
        <span class="text-bold">Current Year</span>
    </h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover align-middle" id="allLeaveSummaryTable">
            <thead class="table-light">
                <tr>
                    <th>Employee</th>
                    @* <th>Email</th>              *@
                    <th>Allocated</th>
                    <th>Total Used</th>
                    <th>Paid Used</th>
                    <th>Free Used</th>
                    <th>Remaining Free</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <i class="bx bxs-user bx-md text-primary me-4"></i>
                            <span>@item.FullName</span>
                        </td>
                        @* <td>@item.Email</td> *@
                      
                        <td>@item.TotalAllocated</td>
                        <td>@item.Used</td>
                        <td>
                            <span class="badge bg-label-warning">
                                @item.PaidUsed
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-label-success">
                                @item.FreeUsed
                            </span>
                        </td>
                        <td>
                            @if (item.Remaining > 0)
                            {
                                <span class="badge bg-label-success">
                                    @item.Remaining
                                </span>
                            }
                            else
                            {
                                <span class="badge bg-label-danger">
                                    0
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- DataTables init -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#allLeaveSummaryTable').DataTable();
        });
    </script>
}
