@model List<LeaveManagement.VM.TodayAttendanceViewModel>
@{
    ViewData["Title"] = "AdminAttendanceReport";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="card p-2 m-2">
    <h2>Today's Attendance</h2>
    <table id="todayTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Checked In Time</th>
                <th>Checked Out Time</th>
                <th>Checked In Image</th>
                <th>Checked Out Image</th>
                <th>Working Hours</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var user in Model)
            {
                @foreach (var item in user.AttendanceHistory)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@item.CheckedInTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                    <td>@(item.CheckedOutTime?.ToString("dd-MMM-yyyy hh:mm tt") ?? "-")</td>
                    <td>
                        @(string.IsNullOrEmpty(item.CheckedInImage)
                            ? "-"
                            : Html.Raw($"<img src='{item.CheckedInImage}' width='80' />"))
                    </td>
                    <td>
                        @(string.IsNullOrEmpty(item.CheckedOutImage)
                            ? "-"
                            : Html.Raw($"<img src='{item.CheckedOutImage}' width='80' />"))
                    </td>
                    <td>@(item.WorkingHours.HasValue ? $"{item.WorkingHours.Value:F2} hrs" : "-")</td>
                    <td>
                            <a class="btn btn-primary" href="@Url.Action("UserAttendance", new { userId = user.UserId })">View</a>
                       
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('#todayTable').length) {
                $('#todayTable').DataTable({
                    "order": [[0, "desc"]],
                    "columnDefs": [
                        { "orderable": false, "targets": [2, 3] }
                    ]
                });
            }
        });
    </script>
}
